.rn-settings-container {
	display:flex;
	flex-direction:column;
	align-items:center;
	height:auto;
	width:600px;
	margin-left:auto;
	margin-right:auto;
	max-width:calc(100% - 15px);
	position:relative;
	margin-top:20px;
}

.rn-settings-account {
	display:flex;
	align-items:center;
	position:relative;
	margin-bottom:30px;
	/*width:100%;*/
}

.rn-settings-account > * {
	margin:0 12.5px;
}

.rn-settings-account-avatar {
	--size:90px;

	height:var(--size);
	width:var(--size);
	border-radius:50%;
	position:relative;
	box-shadow:0px 0px 15px 0px rgba(0, 0, 0, .25);
}

.rn-settings-account-avatar > img {
	height:100%;
	width:100%;
	object-fit:cover;
	border-radius:50%;
	object-position:center;
}

.rn-settings-account-avatar-change {
	--size:31px;
	--bhs:-2.5px;

	display:flex;
	align-items:center;
	justify-content:center;
	background:orange;
	box-shadow:0px 0px 12.5px var(--bhs) rgba(0, 0, 0, .25);
	bottom:0;
	right:0;
	position:absolute;
	height:var(--size);
	width:var(--size);
	border-radius:50%;
	cursor:pointer;
	color:white;
	font-size:.775rem;
	transition:.25s;
}

.rn-settings-account-avatar-change:hover {
	--bhs:0;
}

.rn-settings-account-avatar-change:active {
	transition:50ms;
	transform:scale(.925);
}

.rn-settings-account-info {
	display:flex;
	flex-direction:column;
}

.rn-settings-account-info > * {
	margin:2.5px 0;
}

.rn-settings-account-info-name {
	font-size:1.1rem;
	font-family:"Lato";
	font-weight:400;
}

.rn-settings-account-info-city {
	color:rgba(0, 0, 0, .5);
	font-size:.95rem;
	font-weight:400;
	font-family:"Quicksand";
}

.rn-settings-fields {
	display:grid;
	grid-gap:15px;
	grid-template-columns:1fr 1fr;
	justify-items:center;
	width:100%;
}

.rn-settings-input {
	display:flex;
	flex-direction:column;
	align-items:flex-start;
	width:205px;
}

.rn-settings-input > * {
	margin:2.5px 0;
}

.rn-settings-input-title {
	font-family:"Quicksand";
	font-weight:400;
	color:rgba(0, 0, 0, .75);
	font-size:.85rem;
}

.rn-settings-input-mat {
	--padding:10px;

	padding:0 var(--padding);
	width:calc(100% - var(--padding) * 2);
	height:37.5px;
	text-align:center;
	border-radius:7.5px;
	font-family:"Quicksand";
	font-size:1em;
	background:#F2F6F6;
	border:1px solid rgba(0, 0, 0, .1);
	transition:.15s;
}

.rn-settings-input-mat:focus {
	box-shadow:0px 0px 12.5px -2px rgba(0, 0, 0, .1);
	background:white;
}

.rn-settings-submit {
	display:block;
	border-radius:15px;
	color:white;
	text-transform:capitalize;
	font-family:"Quicksand";
	background:#EF5E30;
	height:40px;
	margin-top:30px;
	width:170px;
	font-size:.9em;
	cursor:pointer;
	transition:.25s;
}

.rn-settings-submit:not(:disabled):hover {
	box-shadow:0px 0px 15px -2.5px rgba(0, 0, 0, .3);
	transform:scale(1.05);
}

.rn-settings-submit:not(:disabled):active {
	transition:75ms;
	transform:scale(1);	
}

.rn-settings-submit:disabled {
	background:gray;
	cursor:progress;
}