:root {
    --navwidth: 60px;
    --routetranst: 125ms;
}

html,
body {
    margin: 0;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    background: #F4F7FC;
}

#root {
    display: flex;
}

menu {
    margin:0;
    padding:0;
}

.definp {
    border: none;
    background: transparent;
    box-shadow: inherit;
    outline: 0;
    margin: 0;
    padding: 0;
}

.rn {
    --paddinglr: 0px;

    padding-left: var(--paddinglr);
    padding-right: var(--paddinglr);
    height: 100vh;
    width: calc(100vw - var(--navwidth) - var(--paddinglr) * 2);
    position: relative;
    overflow: scroll;
}

.rn.nonav {
    width: 100vw !important;
}

.__router-fade-enter {
    opacity: 0.01;
}

.__router-fade-enter.__router-fade-enter-active {
    opacity: 1;
    transition: opacity var(--routetranst) ease-in;
}

.__router-fade-exit {
    opacity: 1;
}

.__router-fade-exit.__router-fade-exit-active {
    opacity: 0.01;
    transition: opacity var(--routetranst) ease-in;
}

.rn-desk-cards-mat {
    width: 100%;
    font-family: "Roboto";
    border-collapse: collapse;
    font-weight: 300;
}

.rn-desk-cards-mat table,
.rn-desk-cards-mat th,
.rn-desk-cards-mat td {
    border: 1px solid rgba(0, 0, 0, .1);
}

.rn-desk-cards-mat tr {
    height: 35px;
    transition: .1s;
}

.rn-desk-cards-mat tr:not(:first-child) {
    cursor: pointer;
}

.rn-desk-cards-mat tr:nth-child(odd):not(:first-child) {
    background: rgba(0, 0, 0, .005);
}

.rn-desk-cards-mat tr.selected {
    background: rgb(29, 161, 242) !important;
    color: white;
    border-color: transparent;
}

.rn-desk-cards-mat td {
    text-align: center;
}