.rn-dashboard {
    --paddinglr: 150px;
}

.rn-dashboard-toptitle {
    font-family: "Lato";
    font-weight: 500;
    font-size: 2rem;
    margin-top: 50px;
    margin-bottom: 20px;
}

.rn-dashboard-section {
    margin-top: 25px;
}

.rn-dashboard-stats {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.rn-dashboard-stats-item {
    border-radius: 5px;
    background: white;
    width: 256px;
    height: 265px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .25s;
    opacity:0;
    animation:dashboard-stats-item-appear .25s ease-in-out;
    animation-fill-mode:forwards
}

@keyframes dashboard-stats-item-appear {
    from {
        transform:translateY(15px);
        opacity:0;
    }
    to {
        transform:translateY(0);
        opacity:1;
    }
}

.rn-dashboard-stats-item:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 25px -15px rgba(0, 0, 0, .15);
}

.rn-dashboard-stats-item-icon {
    --size: 50px;

    height: var(--size);
    width: var(--size);
    border-radius: 50%;
    background: #E5F3FE;
    color: #0C84FB;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rn-dashboard-stats-item-value {
    font-size: 3em;
    margin-top: 10px;
    margin-bottom: 7.5px;
}

.rn-dashboard-stats-item-title {
    color: rgba(0, 0, 0, .45);
}

.rn-dashboard-desks {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
    align-items: center;
    grid-template-rows: 250px;
}