.rn-stats-graph {
	--padding:20px;
	
	margin:50px 0;
	max-width:calc(100% - var(--padding) * 2 - 10px);
	width:calc(800px - var(--padding) * 2);
	background:white;
	border-radius:5px;
	padding:var(--padding);
	/*display:flex;
	align-items:center;
	justify-content:center;*/
	margin-left:auto;
	position:relative;
	margin-right:auto;
	box-shadow:0px 0px 15px -10px rgba(0, 0, 0, .25);
}

.rn-stats-graph.placeholder {
	height:140px;
	display:block;
}

.rn-stats-graph-tooltip {
	--apptrans:.25s;

	padding:0 20px;
	background:white;
	border-radius:5px;
	box-shadow:0px 0px 12.5px -10px rgba(0, 0, 0, .25);
	border:1px solid rgba(0, 0, 0, .01);
	height:25px;
	font-size:.975rem;
	position:absolute;
	font-weight:100;
	font-family:"Quicksand";
	display:block;
	opacity:0;
	white-space:nowrap;
	visibility:hidden;
	transition:all 0s, opacity var(--apptrans), visibility var(--apptrans);
}

.rn-stats-graph-tooltip.visible {
	visibility:visible;
	opacity:1;
	transition:opacity var(--apptrans), visibility 0s;
}

.rn-stats-graph-title {
	font-size:2rem;
	font-family:"Quicksand";
	font-weight:400;
	margin:0;
	margin-bottom:10px;
}